@media only screen and (max-width: 575px) {
    #carouselWrapper{
        height: 35vh!important;
    }
}

#carouselWrapper{
    height: 60vh;
}
#logo{
    position: absolute;
    z-index: 10;
    width: 25vw;
    top: 0;
    left: 0;
    max-width: 100px;
}
#location{
    color: #a91e22;
}

#top{
    width: calc(100vw - 1.5em);
    height: 100vh;
    overflow: hidden scroll;
}
#equations{
    height: 100vh;
    width: 100vh;
    background-color: white;
    position: absolute;
    top: 0vh;
    right: calc(0vh + 1.5em);
    will-change: top;
    transition: top 500ms ease-out, background-color 500ms ease-out, transform 500ms ease-out, right 500ms ease-out;
    z-index: 50;
    color: white;
    font-weight: 450;
    transform: rotate(-90deg);
    transform-origin: 100% 0;
    overflow: hidden;
}
#equations.active{
    top: 0;
    background-color: rgba(51, 50, 49, 0.96);
    height: 100vh;
    width: 100vw;
    transform: rotate(0deg);
    left: 0;
    overflow: hidden scroll;
}

#equations.active #equationHeader{
    background-color: #a91e22;
}

#equationHeader{
    font-size: 1em;
    background-color: rgb(113, 78, 78);
    height: 1.5em;
    transition: background-color 500ms ease-out;
}
#equationBody{
}
#bodyInnerWrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}