@import "toastr.min.css";
@import "jQuery.UI.css";
@import "jQuery.datatable.min.css";
html {
    margin: 0px;
    padding: 0px;
    overflow: hidden!important;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    font-size: 16px!important;
}

/*---------- Scroll Bar -------------*/

/* width */

::-webkit-scrollbar {
    width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #e9e9e9;
    padding: 0em;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(62, 142, 161);
    border-radius: 10px;
    margin: 0px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(48, 109, 124);
}

/*----------- General ----------------*/

a:hover {
    text-decoration: none;
}

.truncate {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#initialLoader.remove {
    opacity: 0!important;
    background-color: transparent!important;
}

.singleLine {
    white-space: nowrap;
}

.noSelect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.centerBoth {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.centerVertical {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.centerHorizontal {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.noAnimation {
    transition: none!important;
}

.input {
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 200ms ease-out, border-bottom 400ms ease-out;
    color: white;
    text-align: center;
    font-family: karla;
    font-size: 1em;
}

.input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.65);
    border-bottom: 2px solid red;
}

.input::placeholder {
    text-align: right;
    color: rgb(168, 168, 168);
    padding: 0.5em 2em 0 2em;
    transition: color 200ms ease-out;
}

.input:focus::placeholder {
    color: transparent;
}

.input.light {
    padding: 0.6em 0 0.6em 0;
    border: none;
    background-color: #a91e22;
    transition: background-color 200ms ease-out, border-bottom 400ms ease-out;
    color: #F1BF98;
    text-align: center;
    font-family: karla;
    font-size: 1em;
}

.input.light:focus {
    background-color: #8a1014;
    border-bottom: 2px solid #D70F0F;
}

.inputClearRight {
    width: fit-content;
    margin: 0 0 0 -1em;
    display: flex;
    justify-content: center;
}

.inputClearLeft {
    width: fit-content;
    margin: 0 -1em 0 0;
    display: flex;
    justify-content: center;
}

.placeholder {
    height: min-content;
    padding: 1.5em 0;
}

.placeholder::before {
    height: min-content;
    content: attr(name);
    position: absolute;
    width: 100%;
    top: 0;
    font-size: 1em;
    color: rgb(199, 199, 199);
    text-align: center;
    padding: 0 0.5em;
}

.autoHeight {
    resize: none;
    min-height: 2em;
    height: 2em;
    max-height: 25vh;
}

.validateError {
    color: red;
    top: -1em;
    font-size: 0.7em;
}

.relative {
    position: relative!important;
}

.absolute {
    position: absolute!important;
}

.flex {
    display: flex!important;
}

.block {
    display: block!important;
}

.none {
    display: none!important;
}

.lFloat {
    float: left!important;
}

.rFloat {
    float: right!important;
}

.none {
    display: none!important;
}

.button {
    text-align: center;
    padding: 0.4em 0 0.4em 0;
    background-color: #a91e22;
    transition: background-color 500ms ease-in-out;
    color: white;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
.button-square{
    max-width: 2.5em!important;
    width: 2.5em;
}
.button.small{
    padding: 0;
}

.button.active{
    background-color: #7c0810!important;
}
.label.inp{
    padding: 2% 2% 0 2%;
    line-height: 1em;
    margin: 1em 0 0 1em;
    background-color: rgba(0,0,0,0.1);
    width: fit-content;
    border-radius: 3px 3px 0 0;
}
.label{
    padding: 0em 0.3em 0em 0.3em;
    background-color: #437F97;
    color: white;
    margin-right: 1em;
    font-size: 0.85em;
}
.heading{
    color: grey;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 3px;
    padding: 1%;
    border-bottom: 1px solid;
}
.emphasis{
    color: grey;
    font-weight: 600;
    font-size: 1em;
    background-color: #fff;
    border-radius: 3px;
    width: fit-content;
    padding: 1% 3% 1% 3%;
    margin: 1%;
}
.roundDiv{
    border-radius: 50%;
}

.mg-2{
    margin-bottom: 2%!important;
}

.mg-1{
    margin: 1%!important;
}
.mg-5{
    margin:5%!important;
}
.pd-3{
    padding: 0.3em!important;
}
.pd-10{
    padding: 1em!important;
}
.pd-tp-10{
    padding-top: 1em!important;
}
.pd-tp-15{
    padding-top: 1.5em!important;
}
.lg{
    width: 100%;
}
.md{
    width: 75%;
}
.sm{
    width: 50%;
}
.xs{
    width: 25%;
}
.w-15{
    width: 15%;
}
.w-10{
    width: 10%;
}
.h-fit{
    height: fit-content!important;
}
.h-100{
    height: 100%!important;
}
.w-fit{
    width: fit-content;
}

.z-10{
    z-index: 10!important;
}
.z-100{
    z-index: 100!important;
}
.white{
    color: white!important;
}
.lightgrey{
    color: lightgrey!important;
}
.darkgrey{
    color: darkgrey!important;
}
.o-hidden{
    overflow: hidden;
}

.note{
    font-size: 0.8em;
    font-family: heebo;
    color: #444480;
}

table{
    color: #3e3e3e;
    padding: 0.2em;
}
tr{
    padding: 0.4em;
}
td{
    text-align: center;
}
th{
    text-align: center;
    font-family: baloo;
    border-bottom: 1px solid darkgrey;
}
td.total{
    border: 1px solid #c4c4c4;
}
h1{
    text-align:center;
    font-family:heebo;
}
.section{
    padding: 1.5em 1em 1em 1em;
    margin: 0.4em 0;
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
}
.section.inner{
    border:1px solid lightgrey;
    padding: 0.5em;
}
.section.float{
    overflow: auto;
}
.section::before{
    content: attr(title);
    text-align: right;
    font-size: 0.9em;
    font-weight: 900;
    font-family: inconsolata;
    position: absolute;
    top: 0;
    width: unset;
    color: darkgrey;
    left: calc(100% - 1em);
    transform: translate3d(-100%, 0,0);
    white-space: nowrap;
}
.section.title::before{
    content: attr(title);
    text-align: left;
    font-size: 1.4em;
    font-weight: 900;
    font-family: anto;
    position: absolute;
    top: 0;
    width: unset;
    color: rgb(82, 82, 82);
    left: 5%;
    transform: none;
    white-space: nowrap;
}
#progressLoader{
    z-index:100000;
    color: white;
    font-size: 3em;
}

/*-------------- Modify Bootstrap ------------*/
    .bg-gradient-primary {
        background-color: #4e73df;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #404b70), to(#3f4d79));
        background-image: linear-gradient(180deg, #404b70 10%, #3f4d79 100%);
        background-size: cover;
    }
    .btn-primary {
        background-color: #eb212e;
        border-color: #7c0810;
    }
    .btn-primary:hover {
        background-color: #7c0810;
        border-color: #7c0810;
    }
    .btn-success {
        background-color: #1cc88a!important;
    }
    .btn-success:hover {
        background-color: #60caa3!important;
    }
    label {
        color: grey;
    }
    .ui-widget-content {
        background-color: rgba(255, 255, 255, 0.692);
        box-shadow: 0px 3px 8px 0px grey;
        border-radius: 3px;
        font-size: 1em;
        text-decoration: none;
        color: grey;
    }
    /*-------------------- checkbox -------------------*/
    /* The container */
    .containerCheck {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Hide the browser's default checkbox */
    .containerCheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
    }
    /* On mouse-over, add a grey background color */
    .containerCheck:hover input~.checkmark {
        background-color: #ccc;
    }
    /* When the checkbox is checked, add a blue background */
    .containerCheck input:checked~.checkmark {
        background-color: #404b70;
    }
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    /* Show the checkmark when checked */
    .containerCheck input:checked~.checkmark:after {
        display: block;
    }
    /* Style the checkmark/indicator */
    .containerCheck .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    /* Cover */
    .cover {
        top: 0;
        left: -100vw;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0);
        z-index: 1000;
        transition: left 250ms ease-out, backgeound-color 400ms ease-out;
        will-change: left;
    }
    .cover.active {
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
    }
    /* Right Panel */
    .rightPanel {
        /* Set right( = - width ) and width */
        top: 0;
        position: fixed;
        overflow: hidden scroll;
        z-index: 1010;
        will-change: right;
        transition: right 250ms ease-out;
        background-color: white;
        height: 100vh;
    }
    .rightPanel.active {
        right: 0!important;
    }