#backgroundImageAttribution {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.25em;
    font-size: 0.8em;
    color: rgb(133, 133, 133);
}

#contentBox {
    background-color: #343a40e3;
    /* color: white; */
    min-width: 250px;
}

.leaflet-control-attribution {
    display: none;
}

#controls {
    will-change: flex;
    transition: flex 250ms ease-out, top 250ms ease-out;
    max-width: 100%;
    top: 0;
}

#mapContainer {
    will-change: flex;
    transition: flex 250ms ease-out, top 250ms ease-out;
    top: 0;
}

#switcher {
    top: calc(100% - 3em);
    left: calc(100% - 3em);
    z-index: 1000;
    background: url("../../res/image/placeholder.png");
    background-size: cover;
    height: 5vh;
    width: 5vh;
}

#leftPanel {
    top: 0;
    min-width: calc((100vw / 12) * 10);
    width: 100%;
    height: 100vh;
    overflow: hidden scroll;
    direction: rtl;
    color: white;
}

@media only screen and (max-width: 576px) {
    .carCard {
        width: 98%!important;
    }
    #cards {
        width: 100vw;
    }
    .card-img-container {
        height: 35vh!important;
        overflow: hidden;
    }
    #carDetail {
        right: -100vw!important;
        width: 100vw!important;
    }
    #mapSettings {
        right: -100vw!important;
        width: 100vw!important;
    }
}

@media only screen and (min-width: 1200px) {
    .carCard {
        width: 24%!important;
        margin: 0.5%!important;
    }
    .card-img-container {
        height: 25vh!important;
    }
}

/* @media only screen and (min-width: 1500px) {
    .carCard{
        width: 19%!important;
        margin: 0.5%!important;
    }
    .card-img-container{
        height: 20vh!important;
    }
} */

.card-img-container {
    height: 30vh;
    overflow: hidden;
}

.carCard {
    width: 48%;
    margin: 1%;
    direction: ltr;
}

.daterangepicker {
    top: 0!important;
    left: 0!important;
    border: none!important;
}

.daterangepicker::before {
    content: none!important;
}

.daterangepicker::after {
    content: none!important;
}

.daterangepicker .drp-calendar.left {
    padding: 0!important;
}

#carDetail {
    top: 0;
    right: -50vw;
    width: 50vw;
    z-index: 1000;
    overflow: hidden scroll;
    z-index: 1010;
    will-change: right;
    transition: right 250ms ease-out 10ms;
    display: none;
}

#carDetail.active {
    right: 0!important;
    display: block;
}

#carDetailCover {
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1000;
    transition: left 250ms ease-out, backgeound-color 400ms ease-out;
    will-change: left;
}

#carDetailCover.active {
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

#carDetailImages {
    height: 50vh;
    overflow: hidden;
}

#carDetailBody {
    height: calc(50vh - 2.5em);
    height: -webkit-fill-available;
    height: fit-content;
    overflow: hidden;
}
.cardTitle{
    height: 3.5em!important;
    overflow: hidden;
}

#carDetailHead {
    color: white;
    font-weight: 500;
    height: 2.5em;
}

#carDetailDescription {
    color: rgb(80, 80, 80);
    font-weight: 400;
}

.carDetailTableBodyKey {
    width: fit-content;
    background-color: rgb(62, 142, 161);
    color: white;
    text-align: left;
    padding-left: 3em!important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .custom .leaflet-popup-tip, .custom .leaflet-popup-content-wrapper {
    background-color: rgb(62, 142, 161);
    color: #ffffff;
}

#carDetailsCarousselIndicator {
    top: 45vh!important;
    bottom: unset!important;
}

.carCardLocationLabel:hover {
    color: rgb(223, 223, 223)!important;
}

#carDetailCloseIcon {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1010;
    color: #ffffff6e;
    font-size: 1.5em;
    cursor: pointer;
}

#carDetailCloseIcon:hover {
    color: #ffffff;
}

#carDetailsCarousselIndicator li {
    border-radius: 30px!important;
    height: 20px;
    width: 10px;
    background-color: rgb(62, 142, 161);
    border: none!important;
}

.carDetailsCarousselIndicatorIcon {
    font-size: 1.5em;
    color: rgb(62, 142, 161);
}

#carDetailContent.arrow.collapsed::after {
    content: url("../../res/image/right-arrow-white.png");
    transform: rotate(90deg);
    display: inline-block;
    transition: transform 250ms ease-out;
}

#carDetailContent.arrow::after {
    content: url(../../res/image/right-arrow-white.png);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: transform 250ms ease-out;
    position: absolute;
    top: 0.75em;
    right: 1em;
}
#filterClose{
    z-index: 1;
    top: 0.5em;
    right: 1em;
    width: 1.4em;
}

#filter {
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
    max-height: 3em;
    will-change: max-height, color, background-color;
    transition: max-height 250ms ease-out, background-color 250ms ease-out, color 250ms ease-out;
    overflow: hidden;
    direction: ltr;    
    pointer-events:auto;
    background-color: white;
}

#filter.closed{
    max-height: 3em!important;
    background-color: rgba(255, 255, 255, 0.75)!important;
    color: rgb(0, 0, 0)!important;
}

#filter:hover {
    max-height: 200vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.75);
}
#filter.hover {
    max-height: 200vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.75);
}
#filter.active {
    max-height: 200vw;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute!important;
    width: 100%;
    top: -100vh;
    overflow: visible;
    /* top: 50%;
    transform: translate3d(0px, -50%, 0px); */
}
#filter.active input, #filter.active select{
    pointer-events:none!important;
    background-color: grey!important;
}
#filter.active #dateRange{
    pointer-events:auto!important;
    background-color: white!important;
    border: 3px solid rgb(62, 142, 161);
}
#filter.active #dateRangeContainer{    
    position: absolute;
    top: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 1em;
    margin: 1em;
    top: calc(100vh + 50%);
    left: 50%;
    transform: translate(-50%, -50%);
}
#filter.active .daterangepicker select{
    pointer-events:auto!important;
    background-color: white!important;
}
#filter.active #dateRangeImage{
    display: block;
}
#dateRangeImage{
    display: none;
    position: absolute;
    top: 125%;
    left: 25%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(62, 142, 161);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(62, 142, 161);
    cursor: pointer;
}
.popupContent{
    cursor:pointer;
}

#mapSettingsButton{
    right: 1em;
    top: 1em;
    z-index: 1000;
    transition: right 1000ms ease-out;
}

#mapSettings {
    top: 0;
    right: -50vw;
    width: 50vw;
    z-index: 1000;
    overflow: hidden scroll;
    z-index: 1010;
    will-change: right;
    transition: right 250ms ease-out 10ms;
    display: none;
}

#mapSettings.active {
    right: 0!important;
    display: block;
}